mcp_core_root/src/com/nortelnetworks/ims/app/pa/capi/fw/wadl/CAPISpec.zip
mcp_core_root/src/com/nortelnetworks/ims/app/pa/capi/fw/wadl/capi.html
mcp_core_root/src/com/nortelnetworks/ims/app/pa/capi/fw/wadl/capi.wadl
mcp_core_root/src/com/nortelnetworks/ims/app/pa/capi/fw/wadl/resourcedoc.xml
mcp_core_root/wars/aacpaweb/aacpa/web/js/eavica.min.js
*.lnk
*.iml
build.properties
mcp_core_root/wars/aacpaweb/aacpa/flex_output/
mcp_core_root/wars/wcsweb/wccflash/flex_output/
**/.project
**/.flexProperties
**/.flexLibProperties
**/.settings/
**/wccflash/flex_src/**/bin/*.swc
mcp_core_root/wars/aacpaweb/aacpa/flex_src/aacpa/html-template/
**/.actionScriptProperties
**/.idea/*
**/.vscode/*
out/*
.gradle/*
gradle/*
mcp_tools/install/siplogtool_new/profiles.xml
mcp_tools/install/siplogtool_new/recent.dat
mcp_tools/install/siplogtool_new/profiles.xml.idea/
mcp_core_root/wars/**/WEB-INF/webgen.xml